<h1>Basic Pipe Example</h1>

<p>The <code>powerTo</code>pipe takes the base as the input and outputs the result of raising the base to the given exponent. The exponent is specified as a parameter to the pipe.</p>
<pre>
  <code ngNonBindable>2^3 = {{ 2 | powerTo:3 }} // -> 2^3 = 8</code>
</pre>
<p><code>2</code>is the input to the pipe (the base)</p>
<p><code>3</code>is the exponent specified as the parameter of the pipe</p>
<p>The expression above results in the following:</p>
<h1>2^3 = {{ 2 | powerTo:3 }}</h1>
